*.suo
*.exe
*.pdb
*.cache
*.dll
*.config
*.manifest
*.lref

Server/Server/.vs/**
Server/Server/Output/**

Server/ServerApplication/obj/**
Server/ServerApplication/bin/**

Server/ServerCore/Server/obj/**
Server/ServerCore/Server/bin/**

Server/TestingClient/obj/**
Server/TestingClient/bin/**