
*.exe
*.pdb
*.cache

ServerCore/Server/Output/**

ServerCore/Server/ServerApplication/obj/**
ServerCore/Server/ServerApplication/bin/**

ServerCore/Server/Server/Server/obj/**
ServerCore/Server/Server/Server/bin/**

ServerCore/Server/TestingClient/obj/**
ServerCore/Server/TestingClient/bin/**