ServerCore/Server/Output/*
ServerCore/Server/TestingClient/obj/Debug/*.exe

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc
ServerCore/Server/TestingClient/obj/Debug/TestingClient.pdb
ServerCore/Server/TestingClient/obj/Debug/TestingClient.exe
ServerCore/Server/TestingClient/obj/Debug/TestingClient.csprojResolveAssemblyReference.cache
ServerCore/Server/ServerApplication/obj/Debug/ServerApplication.pdb
ServerCore/Server/ServerApplication/obj/Debug/ServerApplication.exe
